@import 'tailwindcss';

/* PP Migra */
@font-face {
	font-family: 'PP Migra';
	src:
		url('./lib/assets/fonts/pp-migra/pp-migra-extrabold.woff2') format('woff2'),
		url('./lib/assets/fonts/pp-migra/pp-migra-extrabold.woff') format('woff'),
		url('./lib/assets/fonts/pp-migra/pp-migra-extrabold.ttf') format('truetype');
	font-weight: 800;
	font-display: swap;
	font-style: normal;
}

/* Neue Haas Unica */
@font-face {
	font-family: 'Neue Haas Unica';
	src:
		url('./lib/assets/fonts/neue-haas-unica/neue-haas-unica-regular.woff2') format('woff2'),
		url('./lib/assets/fonts/neue-haas-unica/neue-haas-unica-regular.woff') format('woff'),
		url('./lib/assets/fonts/neue-haas-unica/neue-haas-unica-regular.ttf') format('truetype');
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}

@theme {
	/* Breakpoint */
	--breakpoint-*: initial;
	--breakpoint-desktop: 48rem;

	/* Spacing */
	--spacing: clamp(0.25rem, 0.1571rem + 0.381vw, 0.5rem);

	/* Font family */
	--font-*: initial;
	--font-heading: 'PP Migra', serif;
	--font-body: 'Neue Haas Unica', sans-serif;

	/* Font Size */
	--text-*: initial;

	--text-body-base: 1rem;
	--text-body-base--letter-spacing: -0.02em;
	--text-body-base--line-height: 1.5;
	--text-body-base--font-weight: 400;

	--text-body-sm: 0.875rem;
	--text-body-sm--letter-spacing: -0.02em;
	--text-body-sm--line-height: 1.4;
	--text-body-sm--font-weight: 400;

	/* Color */
	--color-*: initial;
	--color-surface: #352f2d;
	--color-surface-content: #e8e3d6;
	--color-primary: #e6c57d;
	--color-secondary: #d7c0bb;
}

/* Text heading */
@utility text-h1 {
	@apply font-heading text-[clamp(3.75rem,1.4286rem+9.5238vw,10rem)] leading-[0.8] font-extrabold tracking-[-0.04em] uppercase;
}

@utility text-h3 {
	@apply font-heading text-[clamp(2.5rem,2.1286rem+1.5238vw,3.5rem)] leading-[0.83] font-extrabold tracking-[-0.04em] uppercase;
}

/* Text button */
@utility text-button {
	@apply text-[clamp(1rem,0.9071rem+0.381vw,1.25rem)] leading-[1] font-normal tracking-[-0.02em];
}

@layer base {
	body {
		@apply bg-surface font-body text-body-base text-surface-content;
	}

	h1 {
		@apply text-h1;
	}

	h3 {
		@apply text-h3;
	}

	a,
	button {
		@apply text-button;
	}
}
